* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #b2c3fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.form-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}

.input-group input:focus {
    border-color: #3f60ba;
    outline: none;
}

.btn-submit {
    width: 100%;
    padding: 14px;
    background-color: #3f60ba;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #3152aa;
}

.btn-submit:active {
    background-color: #3152aa;
    box-shadow: inset 1px 0px 10px 1px rgba(0,0,0,0.50);
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.login-link a {
    color: #1742d5;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Media queries pour les petits écrans */
@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}
