
/*Tous fichier ayant recherche immo, aura ce style */
body {
    background-color: #0e4b77;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: 50% 50%;
    background-position: 60%;
    background-attachment: fixed;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}
input[type="button"]{
    cursor: pointer;
}

/*css pour le menu (barre noir)*/
.barre{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 6;
    background: white;
    color: black;
}

.barre > ul {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    flex-wrap: nowrap;
    font-size: 16pt;
    white-space:  nowrap;
}
.barre > ul >li, .boitecompte > li {
    padding-left:4%;
    padding-right: 4%;
    cursor: pointer;
    user-select: none;
    transition: font-size 500ms ease-in-out;
}
.barre ul > li > a {
    color: black;
    text-decoration: none;
}
.boitecompte{
    background-color: #0e4b77;
    border-radius: 10px;
}
.boitecompte >li > a, .boitecompte >li{
    color: white;
}

.boitecompte:hover .sousliste{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.barre > ul >li:hover, .boitecompte > li:hover {
    font-size: 24pt;
}

.sousliste {
    display: flex;
    position: absolute;
    top: 80px;
    flex-direction: column;
    background-color: cornflowerblue;
    border-radius: 20px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s, transform 0.5s;
}

.sousliste>a{
    color: white;
    text-decoration-line: none;
}

.sousliste>a>li{
    padding: 10px;
    cursor: pointer;
}

.sousliste>a>li:hover{
    background-color: #131375;
    border-radius: 20px;
}

/*fin du css pour le menu (barre noir)*/


/*css pour le titre*/
.titre{
    position : absolute;
    top : 105px;
    width : 100%;
    color : white;
}


/*css google */
.material-symbols-outlined {
    margin-right: 5px;
    font-variation-settings:
            'FILL' 0,
            'wght' 500,
            'GRAD' -25,
            'opsz' 48
}
/*fin css google */




