<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erreur 403</title>
</head>
<body>
<h1 {% if type== "iframe" %} style="text-align: center; color: white" {% endif %} >ERROR 403</h1>
<h6  {% if type== "iframe" %} style="text-align: center; color: white" {% endif %} >Utilisateur ou mot de passe erroné</h6>

<center><button onclick="history.back();" style="padding: 5px; background-color: #0b38ae; color: white; border: solid white 1px; cursor: pointer" autofocus>Recharger la page</button></center>
</body>
</html>