<!DOCTYPE html>
<html>
<head>

<title>Mon profil</title>
<link href="{{ url_for('static', filename='historique_et_profil_du_client.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='historique_et_profil_du_client.js') }}"></script> <!--{{ url_for('static', filename='gerer_tous_les_click_et_selection.js') }}-->


{% include "menu.html" %}

<section class="titre boite_info" style="width: 60%">
    <form class="formulaire" method="post">
        <h1>Mon profil</h1>
        <div class="grid">
            <div class="grid">
                <label for="mail">Mail : </label>
                <input id="mail" type="text" value="{{info[1]}}" name="mail" style="width: 60%;">
            </div>
            <div class="grid">
                <label for="mail">Numéro de téléphone : </label>
                <input id="tel" type="tel" {%if is_login=="True" %} value="{{info[5]}}" {%else%} value="{{info[7]}}" {%endif%} name="telephone" style="width: 40%;">
            </div>
        </div>
        <div class="grid">
            <div class="grid">
                <label for="nom">Nom : </label>
                <input id="nom" type="text" {%if is_login=="True" %} value="{{info[3]}}" {%else%} value="{{info[5]}}" {%endif%} name="nom">
            </div>
            <div class="grid">
                <label for="mail">Prénom : </label>
                <input id="prenom" type="text"  {%if is_login=="True" %} value="{{info[4]}}" {%else%}value="{{info[6]}}" {%endif%} name="prenom">
            </div>
        </div>

        <div class="grid">
            <input id="mdp_change" class="grid" type="button" value="Modifier le mot de passe" style="width: 60%;">
        </div>
            <div class="grid" style="margin-top: 0; margin-bottom: 0">
            <input type="reset" value="annuler">
            <input type="submit" value="modifier">
            </div>
    </form>
    <form action="/delete" method="post" class="formulaire">
        <div class="grid">
        <input id="suppression" type="submit" value="Supprimer mon compte" style="background-color: #8c1b5c;">
        </div>
    </form>
</section>

</body>
</html>