<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link href="{{ url_for('static', filename='recherche_pour_lagence.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='recherche_pour_lagence.js') }}"></script> <!--pour le flask{{ url_for('static', filename='rechercheimmo.js') }}-->
    <link href="{{ url_for('static', filename='rechercheimmo2.css') }}" rel="stylesheet"> <!-- certaine classe de ce fichier seront utilisé : pour mettre les filtre recherche sous style rechercheimmo2-->
    <link href="{{ url_for('static', filename='historique_et_profil_du_client.css') }}" rel="stylesheet"> <!-- certaine classe de ce fichier seront utilisé : pour le mettres sous style historique-->
    <script type="text/javascript" src="{{ url_for('static', filename='historique_et_profil_du_client.js') }}"></script> <!-- on utilise ce fichier pour pouvoir avoir la même action que pour les historiques du client (donc pouvoir acceder au detail du bien)-->


    {% include "menu.html" %}
<section class="boite_recherche">
    <form style="display: flex; flex-wrap: wrap; justify-content: space-around; margin: 10px", method="post">
        <div class="ligne">
        <label>Nombre de chambre(s) : </label>
            <div class="nc" style="padding:5px; background-color: rgba(24,58,103,0.55); border-radius: 5px">
                <div><input type="radio" name="nombrechambre" value="1"><label>1</label></div>
                <div><input type="radio" name="nombrechambre" value="2"><label>2</label></div>
                <div><input type="radio" name="nombrechambre" value="3"><label>3</label></div>
                <div><input type="radio" name="nombrechambre" value="4"><label>4</label></div>
                <div><input type="radio" name="nombrechambre" value="5"><label>5</label></div>
                <div><input type="radio" name="nombrechambre" value="6"><label>6</label></div>
                <div><input type="radio" name="nombrechambre" value="7"><label>7</label></div>
                <div><input type="radio" name="nombrechambre" value="8"><label>8</label></div>
                <div><input type="radio" name="nombrechambre" value="9"><label>9</label></div>
                <div><input type="radio" name="nombrechambre" value="10"><label>10</label></div>
            </div>
        </div>
        <div>
            <label>Type d'appartement</label>
            <select class="ssd" style="width: 400px;" name="type_bien">
                <option value="" selected>--Selectionner--</option>
                <optgroup label="Appartement">
                    <option value="Appartement">Appartement (T2-T7)</option>
                    <option value="Duplex">Duplex</option>
                    <option value="Triplex">Triplex</option>
                    <option value="Studio">Studio</option>
                    <option value="Loft">Loft</option>
                    <option value="Rez_de_jardin">Rez de jardin</option>
                    <option value="Viager appartement">Viager appartement</option>
                </optgroup>
                <optgroup label="Villa">
                    <option value="Château">Château</option>
                    <option value="Bastide">Bastide</option>
                    <option value="Ferme">Ferme</option>
                    <option value="Maison">Maison</option>
                    <option value="Maison de village">Maison de village</option>
                    <option value="Mas">Mas</option>
                    <option value="Viager maison">Viager maison</option>
                    <option value="Villa">Villa</option>
                    <option value="Propriété">Propriété</option>
                    <option value="Rez de villa">Rez de villa</option>
                </optgroup>
            </select>
        </div>
        <div class="ligne">
            <label>Prix</label>
            <input type="number" min="0" max="5000000" name="prix"><label> €</label>
        </div>
        <div class="ligne">
            <label>Adresse (respectez l'ordre) : </label>
            <input type="text" placeholder="Ville, Pays, code postal" name="adresse">
        </div>
        <div class="ligne">
            <label>Autre détail : </label>
            <input type="text" name="detail">
        </div>
        <div class="ligne">
            <input type="submit">
        </div>
    </form>
</section>

<section class="titre" style="position:fixed; margin-top: 160px"><h1>Résultat de la recherche</h1></section>

<section class="s_historique" style="top: 300px;">
    {%for i in result%}
    <div class="boite_historique" data-id='{{i[0]}}' style="z-index: 2;">
        <h4>Le client recherche un/une {{ i[2] }} pour un prix d'environ {{ "{:,}".format(((i[3]+i[4])/2) |int).replace(",", " ")}} €</h4> <!--donne la moyenne du prix-->
        <p>Le client recherche un/une {{ i[2] }}. Il a un budget allant de {{ "{:,}".format(i[3]).replace(",", " ") }} € à {{ "{:,}".format(i[4]).replace(",", " ") }} €</p> <!-- remarque: "{:,}".format(i[4]).replace(",", " ") mets des virgule dans l'entier entre les milliers puis les remplace avec un espace -->
        <p>Le bien devra se situer dans les alentours de {{ i[7] }}, {{ i[8] }} dans le {{ i[9] }}</p>
    </div>
    {%endfor%}
</section>
</body>
</html>