<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>RechecheImmo</title>
    <link href="{{ url_for('static', filename='rechercheimmo2.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='rechercheimmo.js') }}"></script> <!--pour le flask{{ url_for('static', filename='rechercheimmo.js') }}-->
    <script type="text/javascript" src="{{ url_for('static', filename='formulairerecherche.js') }}"></script> <!--{{ url_for('static', filename='formulairerecherche.js') }}-->
    <script type="text/javascript" src="{{ url_for('static', filename='gerer_tous_les_click_et_selection.js') }}"></script> <!--{{ url_for('static', filename='gerer_tous_les_click_et_selection.js') }}-->
    <script>let jesuistrois = false; //jesuistrois detect si je suis dans le formulaire 3 car je n ai pas besoin de mettre d interval sinon
    let id = '{{ id }}';
    let islogin = '{{ is_login }}';
    let isloginagence = '{{is_login_agence}}';
    if (islogin=='False'){
        interval2 = setInterval(event => {if (jesuistrois){fetch('/get_islogin')  // Requête GET vers la route définie ci-dessus
            .then(response => response.json())  // Convertir la réponse en JSON
            .then(data => {
                islogin = data.is_login})
            .catch(error => {
                console.error('Erreur lors de la récupération de islogin');
            })}}, 1000)
    }
    </script>

    {% include "menu.html" %}


<!--titre et formulaire en fonction du menu-->
    <section class="titre"></section>
    <section class="formulaire"></section>

    <!--barre de progression-->
    <progress id="barreprogress" max="100" value="0"></progress>

    </body>
    </html>